---
import AsideSection from "../components/AsideSection.astro";
import AboutSection from "../components/AboutSection.astro";
import MainWrapper from "../components/MainWrapper.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Footer from "../components/Footer.astro";
import { experiences, projects } from "../data";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jafeth Montero - Front End Engineer">
  <AsideSection
    job="Frontend Web Developer"
    description="Creating fast, accessible, and beautifully designed web solutions."
    aboutLabel="ABOUT ME"
    experienceLabel="EXPERIENCE"
    projectsLabel="PROJECTS"
  />

  <MainWrapper>
    <AboutSection>
      <p class="max-w-2xl mb-4">
        <span class="text-white">As a Sr. Web Developer</span> at
        <a
          class="text-jasper hover:text-secondary"
          href="https://gexpsoftware.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Go to gexp software"
          title="Go to gexp software">gexp software,</a
        > I build
        <span class="text-white">innovative digital solutions,</span> focusing on
        <span class="text-white">custom products</span> that create seamless and
        engaging user experiences using <span class="text-white"
          >modern technologies.</span
        >
      </p>
      <p class="max-w-2xl mb-4">
        I am a <span class="text-white">
          passionate programming enthusiast</span
        > who focuses on mastering
        <span class="text-white">JavaScript</span> and its ecosystem, including
        <span class="text-white">React, Redux, Node.js, Next.js, and more.</span
        > My skills allow me to design and build <span class="text-white"
          >custom solutions</span
        > that meet client needs and exceed expectations.
      </p>
      <p class="mb-4">
        I thrive in <span class="text-white">cross- functional teams,</span> where
        I communicate and collaborate effectively using <span class="text-white"
          >Agile and Scrum</span
        > methodologies.
      </p>
      <p class="max-w-2xl">
        Beyond coding, I find peace in <span class="text-white"
          >nature, photography, travel, and time with loved ones.</span
        > I also believe technology can <span class="text-white"
          >drive positive change</span
        >—I’m open to donating my work to <span class="text-white"
          >charities supporting children, conservation, elderly care, and pets.</span
        > Let’s create something impactful together!
      </p>
    </AboutSection>

    <ExperienceSection
      title="Experience"
      lanCode="en"
      experiences={experiences}
    />

    <ProjectsSection title="Projects" lanCode="en" projects={projects} />

    <Footer>
      <p>&copy; 2025 Jafeth Montero. All rights reserved.</p>
    </Footer>
  </MainWrapper>
</Layout>
