---
import AsideSection from "../components/AsideSection.astro";
import AboutSection from "../components/AboutSection.astro";
import MainWrapper from "../components/MainWrapper.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import Footer from "../components/Footer.astro";
import { experiences, projects } from "../data";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jafeth Montero - Front End Engineer">
  <AsideSection
    job="Frontend Web Developer"
    description="Creating fast, accessible, and beautifully designed web solutions."
    aboutLabel="ABOUT ME"
    experienceLabel="EXPERIENCE"
    projectsLabel="PROJECTS"
  />

  <MainWrapper>
    <AboutSection>
      <p class="max-w-2xl mb-4">
        <span class="text-white">As a Sr. Web Developer</span> at
        <a
          class="text-jasper hover:text-secondary"
          href="https://gexpsoftware.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Go to gexp software"
          title="Go to gexp software">gexp software</a
        >, an esteemed Costa Rican enterprise based in Perez Zeledon, San Jose,
        <span class="text-white"
          >I steer innovation in the realm of digital solutions.</span
        > With a specialization in tailored digital products, my role revolves around
        shaping exceptional user experiences through cutting-edge technologies.
      </p>
      <p class="max-w-2xl mb-4">
        <span class="text-white"
          >I am a passionate programming enthusiast who focuses on mastering
          JavaScript and its ecosystem, including React, Redux, Node.js,
          Next.js, and more.</span
        > This proficiency empowers me to conceptualize and deliver custom digital
        solutions that meet client's unique requirements and exceed user expectations.
        <span class="text-white"
          >I thrive in cross- functional teams, where I communicate and
          collaborate effectively using Agile and Scrum methodologies.</span
        >
      </p>
      <p class="max-w-2xl">
        <span class="text-white">Beyond lines of code</span> and study sessions,
        <span class="text-white">I find solace in nature's embrace,</span> capturing
        moments through the lens, exploring new places through travel, and <span
          class="text-white"
          >spending quality time with my beloved family and friends.</span
        >
      </p>
    </AboutSection>

    <ExperienceSection
      title="Experience"
      lanCode="en"
      experiences={experiences}
    />

    <ProjectsSection title="Projects" lanCode="en" projects={projects} />

    <Footer>
      <p>&copy; 2025 Jafeth Montero. All rights reserved.</p>
    </Footer>
  </MainWrapper>
</Layout>
