---
import ExperienceCard from "./ExperienceCard.astro";
import type { Experience } from "../data";

const { experiences, lanCode, title } = Astro.props;

interface Props {
  experiences: Experience[];
  lanCode: string;
  title: string;
}
---

<section id="experience" class="mb-16">
  <h2 class="text-xl lg:text-2xl font-bold mb-4 text-jasper/80">{title}</h2>
  {
    experiences.map((experience) => (
      <ExperienceCard
        {...experience}
        description={experience.description[lanCode]}
      />
    ))
  }
</section>
