---
import ProjectCard from "./ProjectCard.astro";
import type { Project } from "../data";

const { projects, lanCode, title } = Astro.props;

interface Props {
  projects: Project[];
  title: string;
  lanCode: string;
}
---

<section id="projects" class="mb-16">
  <h2 class="text-xl lg:text-2xl font-bold mb-4 text-jasper">{title}</h2>
  {
    projects.map((project) => (
      <ProjectCard {...project} description={project.description[lanCode]} />
    ))
  }
</section>
