---
import GithubIcon from "../components/icons/Github.astro";
import LinkedlnIcon from "../components/icons/Linkedln.astro";
import EmailIcon from "../components/icons/Email.astro";
---

<div class="flex gap-6 mb-6 md:mb-0">
  <a
    href="https://github.com/jafethmontero"
    class="hover:text-jasper"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub"
    title="GitHub"
  >
    <GithubIcon class="size-5 md:size-6" />
  </a>
  <a
    href="https://www.linkedin.com/in/jafeth-montero-34790623a"
    class="hover:text-jasper"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn"
    title="LinkedIn"
  >
    <LinkedlnIcon class="size-5 md:size-6" />
  </a>
  <a
    href="mailto:jafethmontero@gmail.com"
    class="hover:text-jasper"
    aria-label="Email"
    title="Email"
  >
    <EmailIcon class="size-5 md:size-6" />
  </a>
</div>
