---
import Layout from "../../layouts/Layout.astro";
import AsideSection from "../../components/AsideSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import MainWrapper from "../../components/MainWrapper.astro";
import ExperienceSection from "../../components/ExperienceSection.astro";
import ProjectsSection from "../../components/ProjectsSection.astro";
import Footer from "../../components/Footer.astro";
import { experiences, projects } from "../../data";
---

<Layout title="Jafeth Montero - Front End Engineer">
  <AsideSection
    job="Desarrollador Web"
    description="Creando soluciones web rápidas, accesibles y bellamente diseñadas."
    aboutLabel="ACERCA DE MI"
    experienceLabel="EXPERIENCIA"
    projectsLabel="PROYECTOS"
  />

  <MainWrapper>
    <AboutSection>
      <p class="max-w-2xl mb-4">
        <span class="text-white">Como Desarrollador Web Senior </span> en
        <a
          class="text-jasper hover:text-secondary"
          href="https://gexpsoftware.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ir a gexp software"
          title="Ir a gexp software">gexp software,</a
        > una prestigiosa empresa costarricense con sede en Pérez Zeledón, San José,
        <span class="text-white"
          >impulso la innovación en el ámbito de las soluciones digitales.</span
        > Especializado en el desarrollo de productos digitales a medida, mi labor
        se centra en crear experiencias de usuario excepcionales mediante tecnologías
        de vanguardia.
      </p>
      <p class="max-w-2xl mb-4">
        <span class="text-white"
          >Soy un apasionado de la programación, enfocado en dominar JavaScript
          y su ecosistema, incluyendo React, Redux, Node.js, Next.js, entre
          otras tecnologías.</span
        > Esta experiencia me permite conceptualizar y desarrollar soluciones digitales
        personalizadas que no solo satisfacen las necesidades únicas de los clientes,
        sino que también superan las expectativas de los usuarios.
        <span class="text-white"
          >Me desenvuelvo con fluidez en equipos multidisciplinarios, donde la
          comunicación y la colaboración son clave, aplicando metodologías
          Ágiles y Scrum para garantizar procesos eficientes y organizados.</span
        >
      </p>
      <p class="max-w-2xl">
        <span class="text-white">Más allá del código</span> and study sessions,
        <span class="text-white">encuentro inspiración en la naturaleza,</span> capturando
        momentos a través de la fotografía, explorando nuevos destinos en mis viajes
        y <span class="text-white"
          >disfrutando de momentos de calidad con mi familia y amigos.</span
        >
      </p>
    </AboutSection>

    <ExperienceSection
      title="Experiencia"
      lanCode="es"
      experiences={experiences}
    />

    <ProjectsSection title="Proyectos" lanCode="es" projects={projects} />

    <Footer>
      <p>&copy; 2025 Jafeth Montero. Todos los derechos reservados.</p>
    </Footer>
  </MainWrapper>
</Layout>
