---
import Layout from "../../layouts/Layout.astro";
import AsideSection from "../../components/AsideSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import MainWrapper from "../../components/MainWrapper.astro";
import ExperienceSection from "../../components/ExperienceSection.astro";
import ProjectsSection from "../../components/ProjectsSection.astro";
import Footer from "../../components/Footer.astro";
import { experiences, projects } from "../../data";
---

<Layout title="Jafeth Montero - Front End Engineer">
  <AsideSection
    job="Desarrollador Web"
    description="Creando soluciones web rápidas, accesibles y bellamente diseñadas."
    aboutLabel="ACERCA DE MI"
    experienceLabel="EXPERIENCIA"
    projectsLabel="PROYECTOS"
  />

  <MainWrapper>
    <AboutSection>
      <p class="max-w-2xl mb-4">
        <span class="text-white">Como Desarrollador Web Senior</span> en
        <a
          class="text-jasper hover:text-secondary"
          href="https://gexpsoftware.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Go to gexp software"
          title="Go to gexp software">gexp software,</a
        > creo
        <span class="text-white">soluciones digitales innovadoras,</span> enfocándome
        en
        <span class="text-white">productos personalizados</span> que ofrecen experiencias
        de usuario fluidas y atractivas con <span class="text-white"
          >tecnologías modernas..</span
        >
      </p>
      <p class="max-w-2xl mb-4">
        Soy un <span class="text-white"> apasionado de la programación,</span> especializado
        en
        <span class="text-white">JavaScript</span> y su ecosistema que incluye
        <span class="text-white">React, Redux, Node.js, Next.js, y mas.</span> Mis
        habilidades me permiten diseñar y desarrollar <span class="text-white"
          >soluciones a la medida</span
        > que cumplen con las necesidades del cliente y superan sus expectativas.
      </p>
      <p class="mb-4">
        Me desenvuelvo bien en <span class="text-white"
          >equipos multidisciplinarios,</span
        > colaborando de manera efectiva y siguiendo metodologías <span
          class="text-white">Agile y Scrum</span
        > para mantener los proyectos en marcha.
      </p>
      <p class="max-w-2xl">
        Más allá del código, encuentro paz en <span class="text-white"
          >la naturaleza, la fotografía, los viajes y el tiempo con mis seres
          queridos.</span
        > También creo que la tecnología puede <span class="text-white"
          >impulsar cambios positivos</span
        >—estoy abierto a donar mi trabajo a <span class="text-white"
          >organizaciones benéficas que apoyan a niños, conservación, cuidado de
          personas mayores y rescate de animales.</span
        > ¡Creemos algo impactante juntos!
      </p>
    </AboutSection>

    <ExperienceSection
      title="Experiencia"
      lanCode="es"
      experiences={experiences}
    />

    <ProjectsSection title="Proyectos" lanCode="es" projects={projects} />

    <Footer>
      <p>&copy; 2025 Jafeth Montero. Todos los derechos reservados.</p>
    </Footer>
  </MainWrapper>
</Layout>
