---
import Layout from "../../layouts/Layout.astro";
import AsideSection from "../../components/AsideSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import MainWrapper from "../../components/MainWrapper.astro";
import ExperienceSection from "../../components/ExperienceSection.astro";
import ProjectsSection from "../../components/ProjectsSection.astro";
import Paragraph from "../../components/Paragraph.astro";
import Footer from "../../components/Footer.astro";
import HighlightedText from "../../components/HighlightedText.astro";
import { experiences, projects } from "../../data";
---

<Layout title="Jafeth Montero - Front End Engineer">
  <AsideSection
    job="Desarrollador Web"
    description="Creando soluciones web rápidas, accesibles y bellamente diseñadas."
    aboutLabel="ACERCA DE MI"
    experienceLabel="EXPERIENCIA"
    projectsLabel="PROYECTOS"
  />

  <MainWrapper>
    <AboutSection>
      <Paragraph className="mb-4">
        <HighlightedText>Como Desarrollador Web Senior</HighlightedText> en
        <a
          class="text-jasper hover:text-secondary"
          href="https://gexpsoftware.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Go to gexp software"
          title="Go to gexp software">gexp software,</a
        > creo
        <HighlightedText>soluciones digitales innovadoras,</HighlightedText> enfocándome
        en
        <HighlightedText>productos personalizados</HighlightedText> que ofrecen experiencias
        de usuario fluidas y atractivas con <HighlightedText
          >tecnologías modernas..</HighlightedText
        >
      </Paragraph>
      <Paragraph className="mb-4">
        Soy un <HighlightedText>
          apasionado de la programación,</HighlightedText
        > especializado en
        <HighlightedText>JavaScript</HighlightedText> y su ecosistema que incluye
        <HighlightedText>React, Redux, Node.js, Next.js, y mas.</HighlightedText
        > Mis habilidades me permiten diseñar y desarrollar <HighlightedText
          >soluciones a la medida</HighlightedText
        > que cumplen con las necesidades del cliente y superan sus expectativas.
      </Paragraph>
      <Paragraph className="mb-4">
        Me desenvuelvo bien en <HighlightedText
          >equipos multidisciplinarios,</HighlightedText
        > colaborando de manera efectiva y siguiendo metodologías <HighlightedText
          class="text-white">Agile y Scrum</HighlightedText
        > para mantener los proyectos en marcha.
      </Paragraph>
      <Paragraph>
        Más allá del código, encuentro paz en <HighlightedText
          >la naturaleza, la fotografía, los viajes y el tiempo con mis seres
          queridos.</HighlightedText
        > También creo que la tecnología puede <HighlightedText
          >impulsar cambios positivos</HighlightedText
        >—estoy abierto a donar mi trabajo a <HighlightedText
          >organizaciones benéficas que apoyan a niños, conservación, cuidado de
          personas mayores y rescate de animales.</HighlightedText
        > ¡Creemos algo impactante juntos!
      </Paragraph>
    </AboutSection>

    <ExperienceSection
      title="Experiencia"
      lanCode="es"
      experiences={experiences}
    />

    <ProjectsSection title="Proyectos" lanCode="es" projects={projects} />

    <Footer>
      <p>&copy; 2025 Jafeth Montero. Todos los derechos reservados.</p>
    </Footer>
  </MainWrapper>
</Layout>
